/* open-sans-regular - latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/open-sans-v34-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("./fonts/open-sans-v34-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("./fonts/open-sans-v34-latin-regular.woff2")
			format("woff2"),
		/* Super Modern Browsers */ url("../fonts/open-sans-v34-latin-regular.woff")
			format("woff"),
		/* Modern Browsers */ url("./fonts/open-sans-v34-latin-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("./fonts/open-sans-v34-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-500 - latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 500;
	src: url("./fonts/open-sans-v34-latin-500.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("./fonts/open-sans-v34-latin-500.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("./fonts/open-sans-v34-latin-500.woff2") format("woff2"),
		/* Super Modern Browsers */ url("./fonts/open-sans-v34-latin-500.woff")
			format("woff"),
		/* Modern Browsers */ url("./fonts/open-sans-v34-latin-500.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("./fonts/open-sans-v34-latin-500.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-600 - latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	src: url("./fonts/open-sans-v34-latin-600.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("./fonts/open-sans-v34-latin-600.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("./fonts/open-sans-v34-latin-600.woff2") format("woff2"),
		/* Super Modern Browsers */ url("../fonts/open-sans-v34-latin-600.woff")
			format("woff"),
		/* Modern Browsers */ url("./fonts/open-sans-v34-latin-600.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("./fonts/open-sans-v34-latin-600.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/open-sans-v34-latin-700.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("./fonts/open-sans-v34-latin-700.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("./fonts/open-sans-v34-latin-700.woff2") format("woff2"),
		/* Super Modern Browsers */ url("./fonts/open-sans-v34-latin-700.woff")
			format("woff"),
		/* Modern Browsers */ url("./fonts/open-sans-v34-latin-700.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("./fonts/open-sans-v34-latin-700.svg#OpenSans") format("svg"); /* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	src: url("./fonts/raleway-v28-latin-regular.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("./fonts/raleway-v28-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		/* IE6-IE8 */ url("./fonts/raleway-v28-latin-regular.woff2") format("woff2"),
		/* Super Modern Browsers */ url("./fonts/raleway-v28-latin-regular.woff")
			format("woff"),
		/* Modern Browsers */ url("./fonts/raleway-v28-latin-regular.ttf")
			format("truetype"),
		/* Safari, Android, iOS */
			url("./fonts/raleway-v28-latin-regular.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* raleway-500 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 500;
	src: url("./fonts/raleway-v28-latin-500.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("./fonts/raleway-v28-latin-500.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("./fonts/raleway-v28-latin-500.woff2") format("woff2"),
		/* Super Modern Browsers */ url("./fonts/raleway-v28-latin-500.woff")
			format("woff"),
		/* Modern Browsers */ url("./fonts/raleway-v28-latin-500.ttf")
			format("truetype"),
		/* Safari, Android, iOS */ url("./fonts/raleway-v28-latin-500.svg#Raleway")
			format("svg"); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	src: url("./fonts/raleway-v28-latin-700.eot"); /* IE9 Compat Modes */
	src: local(""),
		url("./fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */ url("./fonts/raleway-v28-latin-700.woff2") format("woff2"),
		/* Super Modern Browsers */ url("./fonts/raleway-v28-latin-700.woff")
			format("woff"),
		/* Modern Browsers */ url("./fonts/raleway-v28-latin-700.ttf")
			format("truetype"),
		/* Safari, Android, iOS */ url("./fonts/raleway-v28-latin-700.svg#Raleway")
			format("svg"); /* Legacy iOS */
}

* {
	margin: 0;
	box-sizing: border-box;
}

body {
	max-width: 1510px;
	margin: 0 auto;
	min-width: 320px;
	box-sizing: border-box;
}

/* first section start */

.header {
	background-color: #000000;
	min-width: (320/1510 * 100%);
}

.header__nav {
	padding-left: calc(115 / 1510 * 100%);
	padding-right: calc(170 / 1510 * 100%);
	display: flex;
	color: #ffffff;
	justify-content: space-between;
	align-items: center;
	justify-items: center;
}

.header__nav-img {
	max-height: 75px;
}

.header__nav-logo {
	max-height: 75px;
}

.header__nav-list {
	list-style: none;
	padding-left: 0px;
	margin: 0px;
}

.menu-mobile {
	display: none;
}

.header__nav-item {
	display: inline-block;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	min-width: 115px;
	text-transform: capitalize;
}

.main-first-page {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(./img/image.png) no-repeat;
	padding-top: calc(231 / 1510 * 100%);
	padding-left: calc(170 / 1510 * 100%);
	color: #ffffff;
}

.main-first-page__txt {
	max-width: 670px;
	width: 100%;
	min-width: 320px;
}

.main-first-page__catch-phrase {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 500;
	font-size: 48px;
	line-height: 56px;
	text-transform: uppercase;
	padding-top: calc(73 / 670 * 100%);
	padding-bottom: calc(55 / 670 * 100%);
	background: url(./img/separator.png) no-repeat bottom left;
}

.main-first-page__catch-sub-discription {
	padding-top: calc(42 / 670 * 100%);
	max-width: calc(270 / 670 * 100%);
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	align-items: center;
}

.main-first-page__buttom {
	margin-top: calc(42 / 670 * 100%);
	max-width: 270px;
	width: 100%;
	height: 58px;
	background: none;
	border: 2px solid #ffffff;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	text-transform: capitalize;
	color: #ffffff;
	margin-bottom: calc(185 / 670 * 100%);
}

.main-first-page-wrap-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: calc(1510px - 340px);
}

.main-first-page__trial {
	max-width: 470px;
	width: 100%;
	background: #ffffff;
	border-radius: 10px;
	height: 100%;
	max-height: calc(450 / 470 * 100%);
	padding: 0 50px;
	background-image: url(./img/bg2.png);
	background-repeat: repeat-x;
	background-position: bottom;
	background-position: 100% 100%;
}

.main-first-page__trial input {
	border: none;
	border-bottom: 1px solid #bdbdbd;
	padding-bottom: 16px;
	max-width: 470px;
	width: 100%;
	margin-bottom: 33px;
}

.main-first-page__trial input:nth-child(4) {
	margin-bottom: 0px;
}

.main-first-page__trial input:last-child {
	background: none;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	height: 60px;
	margin: 75px 0 0 0;
	border-radius: 0 0 10px 10px;
	border: none;
	padding: 0px;
}

.main-first-page__trial-name {
	display: block;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 90px;
	height: 90px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;
	margin-bottom: 45px;
}

.main-first-page__trial-name strong {
	color: #ec7979;
}

.main-first-page__trial input::placeholder {
	padding: 10px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	color: #bdbdbd;
	padding-left: 0px;
}

.main-first-page__trial input:active {
	border: none;
}

.footer-first-page {
	background: #f8efef;
}

.footer-first-page-wrap-flex {
	max-width: 1510px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px calc(170 / 1510 * 100%);
	flex-wrap: wrap;
	max-height: calc(75 / 1510 * 100%);
	height: 100%;
}

.footer-first-page-wrap-inner:nth-child(1) {
	max-width: calc(470 / (1510 - 340) * 100%);
	width: 100%;
	max-height: calc((140 / (1510 - 340)) * 100%);
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878b;
}

.footer-first-page-wrap-inner:nth-child(2) {
	max-width: calc((1510 - 690 - 183) / (1510 - 340) * 100%);
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer-first-page-wrap-inner p:first-child {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 60px;
	text-transform: capitalize;
	color: #333333;
	max-height: calc(60 / (1510 - 340) * 100%);
	height: 100%;
	height: 60px;
}

.footer-first-page-wrap-inner p:last-child {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878b;
	padding: 18px 0;
}

/* first section end */

/* section tabs start */

.tabs {
	padding-top: calc(99 / 1510 * 100%);
	max-width: 1170px;
	margin: 0 auto;
}

.tabs__nav-list {
	list-style: none;
	display: flex;
	flex-flow: row;
	max-width: calc((1170 - 470) / 1170 * 100%);
	width: 100%;
	padding-left: 0;
	justify-content: space-between;
}

.tabs__nav-list li {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 39px;
	height: 39px;
	text-align: center;
	text-transform: uppercase;
	color: #333333;
	max-width: 33%;
	width: 100%;
}

.tabs__nav-list li:first-child {
	border: 1px solid #c6cbcd;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 0;
}

.tabs_wrap-flex {
	display: flex;
	border: 1px solid #c6cbcd;
	justify-content: flex-start;
	flex-wrap: nowrap;
}

.tabs_wrap-flex div:first-child {
	max-width: calc(570 / 1170 * 100%);
	width: 100%;
	margin-left: calc(100 / 1170 * 100%);
	margin-right: 30px;
}

.tabs_wrap-flex div:last-child {
	height: 500px;
	width: 470px;
	background: url(./img/statue.png) no-repeat;
}

.tabs_features-title {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 124px;
	height: 124px;
	color: #000000;
	margin-bottom: calc(27 / 570 * 100%);
}

.tabs_features-main-content {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.tabs_features-main-content span {
	display: block;
}

.tabs_features-main-content a {
	display: block;
	height: 15px;
}

.tabs_features-download-btn {
	width: 270px;
	height: 58px;
	background: #ec7979;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-transform: capitalize;
	color: #ffffff;
	border: none;
	margin-top: 29px;
	margin-bottom: 54px;
}

/* section tabs end */

/* section awesome start */

.awesome {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	padding-top: 50px;
}

.preview-awesome {
	text-align: center;
}

.title-awesome {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 150px;
	height: 150px;
	color: #000000;
	background: url(./img/underline-title.png) no-repeat bottom;
}

.title-sub-awesome {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878b;
	padding-top: 40px;
}

.awesome-wrap-flex {
	padding-top: calc(32 / 1170 * 100%);
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 1170px;
}

.awesome-wrap-flex-inner {
	max-width: calc(370 / 1170 * 100%);
	width: 100%;
	text-align: center;
}

.awesome-feature-name {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	text-align: center;
	text-transform: capitalize;
	color: #000000;
	line-height: 100px;
	height: 100px;
}

.awesome-feature-discription {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.awesome-feature-discription span {
	display: block;
}

/* section awesome end */

/* section pricing options start */

.pricing-options {
	padding-top: 58px;
	background: #f5f5f5;
	margin-top: 58px;
}

.title-awesome {
	text-transform: uppercase;
}

.pricing-options__list-wrap-flex {
	display: flex;
	justify-content: space-between;
	max-width: 1170px;
	width: 100%;
	flex-wrap: wrap;
	margin: 0 auto;
	padding-top: 59px;
}

.pricing-options__list-wrap-flex-inner {
	list-style: none;
	text-align: center;
	max-width: calc(370 / 1170 * 100%);
	width: 100%;
}

.pricing-options__list-wrap-flex ul:first-child,
.pricing-options__list-wrap-flex ul:last-child {
	padding-top: 20px;
}

.pricing-options__list-wrap-flex ul:nth-child(2) {
	filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.pricing-options__list-wrap-flex-inner {
	list-style: none;
	text-align: center;
	max-width: calc(370 / 1170 * 100%);
	width: 100%;
	padding-bottom: 50px;
	padding-left: 0px;
}

.pricing-options__list-wrap-flex-inner li:first-child {
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 33px;
	color: #ffffff;
	background: #333333;
	border: 2px solid #f5f5f5;
	height: 60px;
	line-height: 60px;
}

.pricing-options__list-wrap-flex-inner li:nth-child(2) {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	color: #ffffff;
	background: #333333;
	border: 2px solid #f5f5f5;
	height: 100px;
	line-height: 100px;
}

.pricing-options__list-wrap-flex-inner li:nth-child(3) {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: rgba(255, 255, 255, 0.5);
	background: #333333;
	border: 2px solid #f5f5f5;
	height: 50px;
	line-height: 50px;
}

.pricing-options__list-wrap-flex-inner li:nth-child(4),
.pricing-options__list-wrap-flex-inner li:nth-child(5),
.pricing-options__list-wrap-flex-inner li:nth-child(6),
.pricing-options__list-wrap-flex-inner li:nth-child(7),
.pricing-options__list-wrap-flex-inner li:nth-child(8),
.pricing-options__list-wrap-flex-inner li:nth-child(9) {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	text-transform: capitalize;
	color: #86878b;
	line-height: 50px;
	height: 50px;
	background: #ffffff;
}

/* section pricing options end */

/* section costumers start */

.customers {
	padding-top: 50px;
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

.customers__main-wrap-flex {
	padding-top: calc(83 / 1170 * 100%);
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.customers__main-wrap-flex-inner {
	max-width: calc(370 / 1170 * 100%);
	width: 100%;
	max-height: calc(180px + 21px + 135px);
	height: 100%;
}

.customers__main-discription {
	background: #e2e2e2;
	border-radius: 10px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #86878b;
	max-height: calc(180 / 1170 * 100%);
	height: 100%;
	padding: calc(38 / 370 * 100%) 0;
	text-align: center;
	position: relative;
}

.customers__main-discription-img {
	position: absolute;
	bottom: -20px;
	left: 50px;
}

.customers__main-wrap-flex-inner-manager {
	display: flex;
	padding-top: calc(66 / 370 * 100%);
}

.customers__main-avatar-name {
	padding-left: 30px;
}

.customers__main-avatar-name p:last-child {
	padding-top: 15px;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #000000;
}

.customers__main-avatar-name p:first-child {
	line-height: 54px;
	height: 54px;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	text-transform: capitalize;
	color: #000000;
}

/* section costumers end */

/* section design start */

.design {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(./img/bg_design2.png);
	max-width: calc(1170 / 1510 * 100%);
	width: 100%;
	margin: 0 auto;
	margin-top: 50px;
}

.preview-design {
	width: 100%;
	margin: 0 auto;
}

.title-design {
	color: #ffffff;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 36px;
	line-height: 150px;
	padding-top: calc(50 / 1170 * 100%);
	text-transform: uppercase;
	background: url(./img/underline_design.png) no-repeat bottom;
	text-align: center;
}

.title-sub-design {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	color: #ffffff;
	padding-top: calc(40 / 1170 * 100%);
	text-align: center;
}

.design__button-wrap {
	text-align: center;
	padding-top: calc(73 / 1170 * 100%);
	padding-bottom: calc(50 / 1170 * 100%);
	margin: 0 auto;
}

.design__button {
	width: 370px;
	height: 58px;
	background: none;
	font-family: "Open Sans";
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	text-align: center;
	text-transform: capitalize;
	color: #ffffff;
	border: 2px solid #ffffff;
}

/* section design end */

/* media*/

@media all and (max-width: 1024px) {
	.main-first-page__catch-phrase {
		font-size: 36px;
		line-height: 42px;
		text-align: center;
		background: url(./img/separator.png) no-repeat bottom center;
	}

	.main-first-page__catch-sub-discription {
		max-width: none;
		text-align: center;
	}
	.main-first-page__buttom-wrap {
		text-align: center;
	}

	.header__nav-list {
		display: none;
	}

	.main-first-page__trial {
		margin-bottom: 50px;
	}

	.main-first-page__buttom {
		max-width: 288px;
	}
	.menu-mobile {
		display: block;
	}
	.main-first-page__trial {
		border-radius: 10px;
		padding: 0 calc(50 / 470 * 100%);
	}

	.main-first-page {
		padding: 10px;
		background-position: center;
	}

	.main-first-page__trial-name {
		font-family: "Open Sans";
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
	}

	.main-first-page__logo {
		display: none;
	}

	.footer-first-page-wrap-inner img {
		max-width: calc(70 / 640 * 100%);
		max-height: calc(70 / 640 * 100%);
		height: 100%;
		width: 100%;
		padding-bottom: 45px;
	}

	.footer-first-page-wrap-inner:nth-child(1) {
		min-width: 320px;
		text-align: center;
		font-size: 18px;
		line-height: 25px;
	}

	.footer-first-page-wrap-inner:nth-child(2) {
		min-width: 320px;
		padding-top: calc(35 / 670 * 100%);
		padding-bottom: 45;
	}

	.footer-first-page-wrap-flex {
		justify-content: center;
	}

	.tabs_wrap-flex div:last-child {
		display: none;
	}

	.tabs_wrap-flex-inner {
		justify-content: center;
		min-width: 320px;
		text-align: center;
	}
	.tabs {
		margin: 10px;
	}

	.tabs_features-title {
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		height: 112px;
		line-height: 112px;
	}

	.tabs_wrap-flex {
		justify-content: center;
	}

	.awesome-wrap-flex {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}

	.awesome-wrap-flex-inner {
		min-width: 370px;
	}

	.title-awesome {
		font-family: "Raleway";
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
		color: #000000;
		height: 120px;
		line-height: 120px;
	}

	.pricing-options__list-wrap-flex {
		flex-wrap: wrap;
		justify-content: center;
		padding-top: 24px;
	}

	.pricing-options__list-wrap-flex-inner {
		min-width: 288px;
		padding-top: 27px;
		padding-bottom: 0px;
	}

	.pricing-options {
		padding-top: 0px;
	}
	.customers__main-wrap-flex {
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}

	.customers__main-wrap-flex-inner {
		min-width: 320px;
		padding-bottom: 20px;
	}

	.customers__main-avatar-name p:first-child {
		font-size: 14px;
		line-height: 19px;
		height: 19px;
	}
	.customers__main-avatar-name p:last-child {
		font-size: 13px;
	}

	.title-design {
		font-weight: 400;
		font-size: 24px;
		line-height: 120px;
		height: 120px;
		padding-top: 0px;
		min-width: 288px;
	}

	.design__button {
		width: 280px;
		height: 50px;
		font-weight: 600;
		font-size: 18px;
		line-height: 25px;
	}

	.design__button-wrap {
		padding-top: 66px;
		padding-bottom: 58px;
	}

	.title-design {
		background: url(./img/underline_mobile.png) no-repeat bottom center;
	}

	.design {
		min-width: 320px;
	}
	.preview-design {
		margin: 0;
	}
	body {
		margin: 0 5px;
	}
}
